db_master: {{ db_master }}
db_slave: {{ db_slave }}
gale_url: {{ gale_url }}
redis_url: {{ redis_url }}
metrics_url: {{ metrics_url }}
salt: {{ salt }}
kafka_brokers: {{ kafka_brokers }}
kafka_zk: {{ kafka_zk }}
kafka_item_grey_topic: {{ kafka_item_grey_topic }}
kafka_version: {{ kafka_version }}